@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Assistant');

/* LAYOUT */

body {
  font-family: "Assistant", sans-serif;
  height: 80vh;
  margin: 0;
  color: #fff;
  font-size: 125%;
  line-height: 1.5;
}


section {
  box-sizing: border-box;
  margin: 0;
  padding: 3%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
}

@media(prefers-reduced-motion) {
    .show {
        transition: none;
    }
}

.show {
  opacity: 1;
  transition: all 1s;
  filter: blur(0);
}

/* NAVIGATION */

.site-nav ul {
    justify-content: center;
}

.site-nav a {
  display: flex;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}


#main-menu {
  font-family: cursive;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}


/* BANNER */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    background: #2e3842;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#banner h2 {
  font-size: 3em;
  letter-spacing: 0.3em;
}


#banner .button {
    background-color: orange;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    display: inline-block;
    cursor: grab;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.125em;
    letter-spacing: 0.225em;
    line-height: 3.125em;
    max-width: 30em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}

#banner .hidden {
    transform: translateY(-100%);
}

#banner .show {
    transform: translateY(0);
}

/* MY-SPACE */ 

#my-space {
  background: #ff3000;
  padding: 5%;
}


/* BLOG-LIST */

#blog-list {
  background: #505393;
  padding: 0;
}

.subject {
  width: 50%;
}

.subject a {
  color: white;
  text-decoration: none;
}

.subject:nth-child(odd) {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.subject:nth-child(even) {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.subject.hidden:nth-child(odd) {
  transform: translateX(100%);
}

.subject.hidden:nth-child(even) {
  transform: translateX(-100%);
}

.subject.show {
  transform: translateX(0);

}

.subject h2 {
  border-bottom: solid 2px white;
  margin-bottom: 0.1em;
  display: inline-block;
}

.subject:nth-child(even) {
  margin-left: 50%;
  text-align: right;
}


/* SUBQUESTS */

#subquests {
  background: #1f2a3d;
  padding: 5%;
  text-align: center;
  margin: 0;
}


#subquests ul {
  display: grid;
  grid-template-columns: auto auto;
}

#subquests li {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-decoration: none;
  min-height: 10em;
  margin: 1em;
  padding: 3em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 1em;
}

.sub {
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 1em;
  color: white;
  text-shadow: 1px 1px;
}


/* RESUME */

#resume {
  background: #3085ff;
  text-align: center;
}

#resume .resume-content {
    margin-block: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}


#resume #sheet {
  margin-block: 2rem;
  background-color: orange;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
  font-size: 0.8em;
  font-weight: 600;
  height: 3.125em;
  letter-spacing: 0.225em;
  line-height: 3.125em;
  max-width: 30em;
  padding: 0 2em;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  margin-inline: 20em;
  cursor: grab;
}

#resume a {
  text-decoration: none;
  color: white;
  padding: 2rem;
  margin-block: 2rem;
}


/* CONTACT */

#contact {
  color: black;
  text-align: center;
  padding-inline: 12em;
}


#contact #userid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 1em;
}

#contact #form {
  padding-inline: 8em;
}

#contact #message {
  font-size: 1.5em;
  width: 100%;
  min-height: 20em;
  margin-block: 1em;
  padding-top: 0.6em;
  resize: none;
}

.fillable {
  background: #f0f0ff;
  min-height: 2em;
  font-size: 1em;
  padding-left: .8em;
  border: none;
}

#contact #msgbutton {
  display: grid;
  grid-template-columns: repeat(2, 15%);
  column-gap: 3em;
  min-height: 2em;
}

#contact #send {
  font-size: 1.2em;
  background: #8a6eff;
  color: white;
}

#contact #reset {
  font-size: 1.2em;
  background: #ffb84d;
  color: white;
}


/* LISTS */

.section-link {
  text-decoration: none;
}

.list-template {
  background: #2e3842;
  margin: 0;
  padding: 4rem;
  min-height: 95%;
}

.list-template a {
  color: white;
}

.list-template .sections {
  display: grid;
  grid-template-columns: auto auto;
  padding-inline: 10%;
  }

.list-template .dir {
  background: #535a50;
  margin: 2em;
  padding: 1em;
  border-radius: 5px;
  box-shadow:  0 0 0 2px #fff
}

.blog-post h3 {
  display: inline-block;
  padding-inline: 1rem 3rem;
}

/* Single */


.single-template {
  background: #2e3842;
  margin: 0;
  padding: 2%;
  min-height: 95%;
}

.single-template .title {
  display: flex;
  justify-content: center;
}

.single-template .go-back {
  color: white;
}

.single-template .other-articles {
  padding-inline: 3rem;
  display: ruby;
}

.single-template .next {
    float: right;
    display: ruby;
}

.single-template .article-content {
    max-width: 72rem;
    padding: 1rem 0;
    margin: 0 auto 2rem;
    line-height: 1.6;
    overflow-wrap: break-word;
}

/* 404 */

.error {
  background-color: #202;
  margin: 0;
  padding-block: 2rem;
  height: 95%;
  text-align: center;
}

.error-text {
  position: relative;
  top: 50%;
}


/* FOOTER */

footer {
  background: grey;
  padding: 1em;
  margin: 0px;
}
