<section id="banner">
	<div class="inner">
    <h2>{{ .Site.Params.fancytitle | safeHTML }}</h2>
    <p class="hidden">{{ .Site.Params.description | safeHTML }}</p>
    {{ if and .Site.Params.startbuttonText .Site.Params.startbuttonLink }}
		<ul class="actions special">
          <li><button  id="decoration" class="button" onclick="addDecoration()">{{ .Site.Params.StartbuttonText }}</li>
		</ul>
    {{ end }}
	</div>
  <a href="#one" class="more scrolly hidden">{{ .Site.Params.Come }}</a>
</section>
